# needed by the node.js web-app
GTFS_REALTIME_TOKEN=place your 511.org token here or leave blank to disable GTFS-RT
GTFS_REALTIME_VEHICLE_POSITION_TOKEN=place your vehicle position api token here or leave blank to use GTFS_REALTIME_TOKEN
GTFS_REALTIME_TRIP_UPDATES_TOKEN=place your trip updates api token here or leave blank to use GTFS_REALTIME_TOKEN
GTFS_REALTIME_SERVICE_ALERTS_TOKEN=place your service alerts api token here or leave blank to use GTFS_REALTIME_TOKEN

REGION_CONFIG_PATH=./config/region-config.json
GEO_CONFIG_FOLDER_PATH=./config/geoconfigs

WEB_APP_CONTAINER_PORT=8080
CACHE_CONN_STRING=redis://default:@cache:6379

# needed by gtfs-processor
FILTERED_AGENCY_IDS="" # e.g. "CE,AM"
MANUALLY_FILTERED_ROUTE_IDS="" # e.g. "ST:B"
GTFS_ZIP_PATH="./volumes/gtfs/gtfs.zip" # path to zip of gtfs
ELEVATOR_INFO_PATH="./volumes/gtfs/elevators.csv"
OUTPUT_DIR_PATH="./volumes/output" # directory on host where output JSON should be written
SKIP_RECORDS_WITH_ERROR=true
