FILTERED_AGENCY_IDS="" # e.g. "CE,AM"
MANUALLY_FILTERED_ROUTE_IDS="" # e.g. "ST:B"
GTFS_PATH="./volumes/gtfs" # directory on host with contents of GTFS zip
OUTPUT_DIR_PATH="./volumes/output" # directory on host where output JSON should be written
